{ ! has nix_direnv_version || ! nix_direnv_version 2.2.1; } && \
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.1/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="

watch_file \
    flake.* \
    nix/modules/*.nix

DEVENV_ROOT_FILE="$(mktemp -t devenv-root-XXXXXXXX)"
printf "%s" "${PWD}" > "${DEVENV_ROOT_FILE}"
use flake . --override-input devenv-root "file+file://${DEVENV_ROOT_FILE}"

rm "${DEVENV_ROOT_FILE}" && unset DEVENV_ROOT_FILE
