{ ! has nix_direnv_version || ! nix_direnv_version 2.2.1; } && \
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.1/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="

nix_direnv_watch_file flake.nix
nix_direnv_watch_file flake.lock

DEVENV_ROOT_FILE="$(mktemp)"
printf %s "$PWD" > "${DEVENV_ROOT_FILE}"
use flake . --override-input devenv-root "file+file://${DEVENV_ROOT_FILE}"
